---
http_interactions:
- request:
    method: get
    uri: https://api.bitcointrade.com.br/v3/public/BRLBTC/orders?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 3ff37569-d381-4c41-b417-8b684c3cdca4
      X-Response-Time:
      - 12.766ms
      X-Amzn-Remapped-Content-Length:
      - '922'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - c9RVlG9OIAMFmJA=
      Etag:
      - W/"39a-DeIPA6rfxuAg0YtyBaSTGOwb9ew"
      X-Amzn-Remapped-Date:
      - Mon, 29 Mar 2021 16:11:15 GMT
    body:
      encoding: UTF-8
      string: '{"code":null,"message":null,"data":{"bids":[{"unit_price":331550.01,"code":"7qth8BGdN","stop_limit_price":null,"amount":0.00525942},{"unit_price":331550,"code":"4l60von5s","stop_limit_price":null,"amount":0.04890088},{"unit_price":331500,"code":"FXapYrZuK","stop_limit_price":null,"amount":0.04064442},{"unit_price":331500,"code":"QNzkF_9B_","stop_limit_price":null,"amount":0.00047868},{"unit_price":331400,"code":"gReHxeVsH","stop_limit_price":null,"amount":0.00029533}],"asks":[{"unit_price":332000,"code":"MGI2kuss5","stop_limit_price":null,"amount":0.00005976},{"unit_price":332998.33,"code":"tanD4YfSIK","stop_limit_price":null,"amount":0.01323865},{"unit_price":332998.52,"code":"Su-cKuOxR","stop_limit_price":null,"amount":0.04576983},{"unit_price":333994.44,"code":"KTwpHsl8_","stop_limit_price":null,"amount":0.10021128},{"unit_price":333995.19,"code":"-sCizwit_d","stop_limit_price":null,"amount":0.05500869}]}}'
  recorded_at: Mon, 29 Mar 2021 16:11:15 GMT
recorded_with: VCR 5.1.0
