---
http_interactions:
- request:
    method: get
    uri: https://api.bitcointrade.com.br/v3/public/BRLBTC/orders?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - f5414637-0a18-45d4-96c3-337006ea8faa
      X-Response-Time:
      - 7.450ms
      X-Amzn-Remapped-Content-Length:
      - '3440'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - NMLjmGuFoAMFbzQ=
      Etag:
      - W/"d70-ctzJ29ggdakNxoFoFDS7WFe1FWY"
      X-Amzn-Remapped-Date:
      - Wed, 27 May 2020 12:12:58 GMT
    body:
      encoding: UTF-8
      string: '{"code":null,"message":null,"data":{"bids":[{"unit_price":49050.28,"code":"QtjcUSwg5","stop_limit_price":null,"amount":0.09871606},{"unit_price":49050,"code":"qGtIqJi-n","stop_limit_price":null,"amount":0.02341063},{"unit_price":49002,"code":"CRiX8eg1d","stop_limit_price":null,"amount":0.02040734},{"unit_price":49002,"code":"CMiJU-iue","stop_limit_price":null,"amount":0.02040734},{"unit_price":49001.11,"code":"xVNlEv8DQ","stop_limit_price":null,"amount":0.02040771},{"unit_price":49001,"code":"9vDL2eon8","stop_limit_price":null,"amount":0.00204078},{"unit_price":49001,"code":"WvbxmeYH2","stop_limit_price":null,"a[...]
