---
http_interactions:
- request:
    method: get
    uri: https://api.bitcointrade.com.br/v3/public/BRLETH/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 901cc047-5974-4d56-9916-33ed9fb3278e
      X-Response-Time:
      - 0.833ms
      X-Amzn-Remapped-Content-Length:
      - '188'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - c9RVgHzhoAMFXvQ=
      Apicache-Version:
      - 1.2.0
      Etag:
      - W/"bc-5xbMNnhfNw7K1jVPVA+HS97JWB4"
      Apicache-Store:
      - memory
      X-Amzn-Remapped-Date:
      - Mon, 29 Mar 2021 16:11:15 GMT
    body:
      encoding: UTF-8
      string: '{"code":null,"message":null,"data":{"buy":10230.1,"high":10350,"last":10262.96,"low":9520.7,"sell":10306.94,"trades_quantity":1334,"volume":296.13253575,"date":"2021-03-29T16:11:09.297Z"}}'
  recorded_at: Mon, 29 Mar 2021 16:11:15 GMT
recorded_with: VCR 5.1.0
