---
http_interactions:
- request:
    method: get
    uri: https://api.bitcointrade.com.br/v3/public/BRLETH/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 389d43c2-7fbe-4674-8cc7-da5d253445e4
      X-Response-Time:
      - 0.745ms
      X-Amzn-Remapped-Content-Length:
      - '179'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - NMLjjELnIAMFgtQ=
      Apicache-Version:
      - 1.2.0
      Etag:
      - W/"b3-5mA0l2UqxLqELEQd0b7avAOjrLg"
      Apicache-Store:
      - memory
      X-Amzn-Remapped-Date:
      - Wed, 27 May 2020 12:12:57 GMT
    body:
      encoding: UTF-8
      string: '{"code":null,"message":null,"data":{"buy":1105,"high":1137,"last":1103.65,"low":1079.89,"sell":1135,"trades_quantity":260,"volume":199.63757965,"date":"2020-05-27T12:12:50.534Z"}}'
  recorded_at: Wed, 27 May 2020 12:12:57 GMT
recorded_with: VCR 5.1.0
