---
http_interactions:
- request:
    method: get
    uri: https://api.bitcointrade.com.br/v3/public/BRLETH/orders?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - a000c048-64d6-4f3d-9907-e6aef4272f51
      X-Response-Time:
      - 8.794ms
      X-Amzn-Remapped-Content-Length:
      - '3409'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - NMLjoEJooAMFTZw=
      Etag:
      - W/"d51-cK43Y40kAjuTfYordPw3yBSoOiQ"
      X-Amzn-Remapped-Date:
      - Wed, 27 May 2020 12:12:58 GMT
    body:
      encoding: UTF-8
      string: '{"code":null,"message":null,"data":{"bids":[{"unit_price":1105,"code":"pKsGItVIz","stop_limit_price":null,"amount":9.38323077},{"unit_price":1105,"code":"8Sue5qM2n","stop_limit_price":null,"amount":9.04977376},{"unit_price":1105,"code":"C3bgTJB22","stop_limit_price":null,"amount":3.45682353},{"unit_price":1104.82,"code":"GgWEvtJmX","stop_limit_price":null,"amount":9.05124817},{"unit_price":1104.01,"code":"IZ6cZDSCN","stop_limit_price":null,"amount":6.40469743},{"unit_price":1104,"code":"0iTOpUtiA","stop_limit_price":null,"amount":1},{"unit_price":1103.64,"code":"3NMph2IUi","stop_limit_price":null,"amount":0.[...]
