---
http_interactions:
- request:
    method: get
    uri: https://api.bitcointrade.com.br/v3/public/BRLETH/orders?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 7ce96971-7a72-493c-8233-b12d4518a116
      X-Response-Time:
      - 12.707ms
      X-Amzn-Remapped-Content-Length:
      - '8470'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - c9RVoFWuoAMFbaQ=
      Etag:
      - W/"2116-G+TWLY8CNq3iFwL5uUhyHlVT3z4"
      X-Amzn-Remapped-Date:
      - Mon, 29 Mar 2021 16:11:15 GMT
    body:
      encoding: UTF-8
      string: '{"code":null,"message":null,"data":{"bids":[{"unit_price":10230.1,"code":"UxcLmWBXc","stop_limit_price":null,"amount":1.30593348},{"unit_price":10230.08,"code":"fUBwJ863L","stop_limit_price":null,"amount":0.24941741},{"unit_price":10230,"code":"uX0HaSfzP","stop_limit_price":null,"amount":1.02639297},{"unit_price":10224.06,"code":"3GNtWP3ik","stop_limit_price":null,"amount":0.24961611},{"unit_price":10211.52,"code":"yCU3-ORML","stop_limit_price":null,"amount":0.25331783},{"unit_price":10200,"code":"cR7oUx-OHf","stop_limit_price":null,"amount":0.01020589},{"unit_price":10179.91,"code":"13kqNCOh_","stop_limit_pric[...]
