---
http_interactions:
- request:
    method: get
    uri: https://api.bitcointrade.com.br/v3/public/BRLBTC/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 6852f322-8f25-4154-9482-2a690daa2209
      X-Response-Time:
      - 0.549ms
      X-Amzn-Remapped-Content-Length:
      - '181'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - NMLjhHDxoAMFpkw=
      Apicache-Version:
      - 1.2.0
      Etag:
      - W/"b5-lX/UuUvLe+x+HhIsLgRRqlRFBWI"
      Apicache-Store:
      - memory
      X-Amzn-Remapped-Date:
      - Wed, 27 May 2020 12:12:57 GMT
    body:
      encoding: UTF-8
      string: '{"code":null,"message":null,"data":{"buy":49050.28,"high":49499,"last":49300,"low":47501,"sell":49300,"trades_quantity":1849,"volume":76.17787926,"date":"2020-05-27T12:12:45.864Z"}}'
  recorded_at: Wed, 27 May 2020 12:12:57 GMT
recorded_with: VCR 5.1.0
