---
http_interactions:
- request:
    method: get
    uri: https://api.bitcointrade.com.br/v3/public/BRLBTC/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 4513acd2-d02d-40af-a0da-c7d38d0a8332
      X-Response-Time:
      - 6.399ms
      X-Amzn-Remapped-Content-Length:
      - '186'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - c9RVbH4hIAMFeTg=
      Etag:
      - W/"ba-CbvXnDPFTBDUokMLizNZrMXnT4w"
      X-Amzn-Remapped-Date:
      - Mon, 29 Mar 2021 16:11:14 GMT
    body:
      encoding: UTF-8
      string: '{"code":null,"message":null,"data":{"buy":331550.01,"high":337500,"last":332000,"low":315000,"sell":332000,"trades_quantity":4135,"volume":46.20259523,"date":"2021-03-29T16:11:14.623Z"}}'
  recorded_at: Mon, 29 Mar 2021 16:11:14 GMT
recorded_with: VCR 5.1.0
