---
http_interactions:
- request:
    method: get
    uri: https://api.bitcointrade.com.br/v3/public/BRLETH/trades?end_time=2020-01-02%2000:00:00%20-0300&start_time=2019-12-19%2000:00:00%20-0300
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 250b738d-d52f-4a43-b9f2-961a68227ae0
      X-Response-Time:
      - 473.539ms
      X-Amzn-Remapped-Content-Length:
      - '3212'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - c9RV5EEQIAMFbLg=
      Etag:
      - W/"c8c-GEGyhG6YLocvW27mmblv7KsqegI"
      X-Amzn-Remapped-Date:
      - Mon, 29 Mar 2021 16:11:18 GMT
    body:
      encoding: UTF-8
      string: '{"code":null,"message":null,"data":{"pagination":{"current_page":1,"page_size":20,"registers_count":524396,"total_pages":26220},"trades":[{"type":"sell","amount":0.01571052,"unit_price":10262.96,"active_order_code":"KHvhNZ5Sj","passive_order_code":"bOqC6Wr38","date":"2021-03-29T16:08:17.750Z"},{"type":"buy","amount":0.12045608,"unit_price":10349,"active_order_code":"pqR6u0rBh","passive_order_code":"M_4QnAbSO","date":"2021-03-29T16:07:22.640Z"},{"type":"sell","amount":0.00201603,"unit_price":10229.62,"active_order_code":"pDee79POy","passive_order_code":"Zb5qDQnbf","date":"2021-03-29T16:05:02.383Z"},{"type":"sell","amount":0.03212548,"unit_price":10225.82,"active_order_code":"4qMh-mFud","passive_order_code":"hFqL_EDm22","date":"2021-03-29T16:02:42.333Z"},{"ty[...]
