---
http_interactions:
- request:
    method: get
    uri: https://api.bitcointrade.com.br/v3/public/BRLBTC/trades?end_time=2020-05-13%2018:00:00%20-0300&start_time=2020-05-12%2009:00:00%20-0300
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - e42f902f-39ef-479c-9ad3-8a2d490e7817
      X-Response-Time:
      - 12.735ms
      X-Amzn-Remapped-Content-Length:
      - '3252'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - c9RWEGN7IAMF_1Q=
      Etag:
      - W/"cb4-qzDHF6Q6y4KfdnN84m1LtuguEAY"
      X-Amzn-Remapped-Date:
      - Mon, 29 Mar 2021 16:11:18 GMT
    body:
      encoding: UTF-8
      string: '{"code":null,"message":null,"data":{"pagination":{"current_page":1,"page_size":20,"registers_count":2356028,"total_pages":117802},"trades":[{"type":"sell","amount":0.00433291,"unit_price":331550,"active_order_code":"_pqOP-uFmr","passive_order_code":"4l60von5s","date":"2021-03-29T16:11:02.583Z"},{"type":"sell","amount":0.00525942,"unit_price":331550.01,"active_order_code":"_pqOP-uFmr","passive_order_code":"7qth8BGdN","date":"2021-03-29T16:11:02.577Z"},{"type":"buy","amount":0.00994024,"unit_price":332000,"active_order_code":"wKckDSADO","passive_order_code":"MGI2kuss5","date":"2021-03-29T16:10:52.830Z"},{"type":"sell","amount":0.0016992,"unit_price":331550.01,"active_order_code":"Yqg3QdpdO","passive_order_code":"yZcYFupIHh","date":"2021-03-29T16:10:04.420Z"},{[...]
