---
http_interactions:
- request:
    method: get
    uri: https://api.bitcointrade.com.br/v3/public/BRLBTC/trades?end_time=2020-05-13%2018:00:00%20-0300&start_time=2020-05-12%2009:00:00%20-0300
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 9ce8c29d-b83c-4b60-9c39-f393b14d1965
      X-Response-Time:
      - 8.888ms
      X-Amzn-Remapped-Content-Length:
      - '3235'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - NMLj3HfroAMFaDQ=
      Etag:
      - W/"ca3-fa1eOP1vfZv6RkSh0y/eQF0cfKQ"
      X-Amzn-Remapped-Date:
      - Wed, 27 May 2020 12:12:59 GMT
    body:
      encoding: UTF-8
      string: '{"code":null,"message":null,"data":{"pagination":{"current_page":1,"page_size":20,"registers_count":1549827,"total_pages":77492},"trades":[{"type":"buy","amount":0.09609639,"unit_price":49300,"active_order_code":"MgIxKOeWV","passive_order_code":"OnTuIWd3E","date":"2020-05-27T12:12:24.973Z"},{"type":"buy","amount":0.21282495,"unit_price":49300,"active_order_code":"-Z8VBUI1h","passive_order_code":"OnTuIWd3E","date":"2020-05-27T12:12:23.210Z"},{"type":"sell","amount":0.002,"unit_price":49050.17,"active_order_code":"LdgMc-lGU","passive_order_code":"0uJ9Y4kBT","date":"2020-05-27T12:11:50.130Z"},{"type":"buy","amount":0.14807824,"unit_price":49300,"active_order_code":"OlnxrOSo8","passive_order_code":"OnTuIWd3E","date":"2020-05-27T12:11:40.047Z"},{"type":"buy",[...]
