---
http_interactions:
- request:
    method: get
    uri: https://api.bitcointrade.com.br/v3/public/BRLETH/trades?end_time=2020-05-13%2018:00:00%20-0300&start_time=2020-05-12%2009:00:00%20-0300
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 2a5e4ee6-10df-4fe6-a434-f5e22ec05f32
      X-Response-Time:
      - 7.700ms
      X-Amzn-Remapped-Content-Length:
      - '3169'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - NMLj5EcUoAMFVDg=
      Etag:
      - W/"c61-2E6ZoUmlrTjclepHx1z9eRaQBrA"
      X-Amzn-Remapped-Date:
      - Wed, 27 May 2020 12:13:00 GMT
    body:
      encoding: UTF-8
      string: '{"code":null,"message":null,"data":{"pagination":{"current_page":1,"page_size":20,"registers_count":233266,"total_pages":11664},"trades":[{"type":"sell","amount":0.16743367,"unit_price":1103.65,"active_order_code":"6R1sez2981S","passive_order_code":"NabfHrLY7","date":"2020-05-27T12:01:01.867Z"},{"type":"buy","amount":5.01349164,"unit_price":1137,"active_order_code":"On8BvVGCJ","passive_order_code":"NTYPovk0x","date":"2020-05-27T12:00:59.700Z"},{"type":"buy","amount":10,"unit_price":1136.99,"active_order_code":"On8BvVGCJ","passive_order_code":"57PU6XFhx","date":"2020-05-27T12:00:59.693Z"},{"type":"buy","amount":1.72676816,"unit_price":1135,"active_order_code":"On8BvVGCJ","passive_order_code":"pedfF7SNx","date":"2020-05-27T12:00:59.693Z"},{"type":"buy","amount[...]
